.vscode/
.composer/
.devcontainer/
.git/
.gitattributes
.github/
.gitignore
**/.gitignore
**/.gitkeep
bootstrap/cache/*
database/*.sqlite
.env
CODE_OF_CONDUCT.md
docker-compose.yml
docker-compose.dev.yml
Dockerfile
Dockerfile.dev
.dockerignore
docs/
fortrabbit.yml
Homestead.*
node_modules/
npm-debug.log*
persist/
.phpunit.result.cache
public/build/
public/storage
resources/vendor/
results/
sonar-project.properties
storage/app/public/*
storage/debugbar/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.styleci.yml
vendor/
yarn-error.log
