.git/
.gitattributes
.github/
.gitignore
**/.gitignore
**/.gitkeep
.ci/
.env
CODE_OF_CONDUCT.md
CONTRIBUTING.md
docker-compose.yml
Dockerfile
.dockerignore
docs/
Homestead.json
Homestead.yaml
node_modules/
npm-debug.log*
persist/
phpunit.xml
Procfile
public/storage/
resources/vendor/
results/
.sass-lint.yml
server.php
sonar-project.properties
steward.yml
.styleci.yml
tests/
travis-sonar.sh
travis-sonar.sh.sig
.travis.yml
.travis.yml.sig
yarn.lock
