/vendor
/resources/vendor
/node_modules
/public/storage
/persist
Homestead.yaml
Homestead.json
.env
cypress.env.json
/storage/oauth-private.key
/storage/oauth-public.key
.DS_Store
npm-debug.log*
/results
.deploy.json
yarn-error.log
/tests/cypress/screenshots
/tests/cypress/videos
php-extensions-*.tar.bz2
monicadump.sql
.scannerwork/
.sentry-release
.phpunit.result.cache
.composer
.idea
*.iml
/public/messages.js
