/vendor
/resources/vendor
/node_modules
/public/storage
/persist
Homestead.yaml
Homestead.json
.env
/storage/oauth-private.key
/storage/oauth-public.key
.DS_Store
npm-debug.log*
/results
.deploy.json
yarn-error.log
