* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
/.github export-ignore
/.platform export-ignore
/.vscode export-ignore
/tests export-ignore
/scripts export-ignore
.eslintrc.js export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.platform.app.yaml export-ignore
.releaserc export-ignore
.sass-lint.yml export-ignore
.styleci.yml export-ignore
crowdin.yml export-ignore
cypress.json export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore
psalm.yml export-ignore
server.php export-ignore
sonar-project.properties export-ignore
template-definition.yaml export-ignore
