.scannerwork/
/node_modules
/persist
/public/css
/public/fonts
/public/hot
/public/js
/public/storage
/public/mix-manifest.json
/resources/vendor
/results
/storage/oauth-private.key
/storage/oauth-public.key
/tests/cypress/screenshots
/tests/cypress/videos
/vendor
.composer
.env
.deploy.json
.DS_Store
.idea
.phpunit.result.cache
.sentry-release
cypress.env.json
Homestead.yaml
Homestead.json
monicadump.sql
npm-debug.log*
php-extensions-*.tar.bz2
yarn-error.log
