<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Api">
            <directory suffix="Test.php">./tests/Api</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Commands</directory>
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit-Models">
            <directory suffix="Test.php">./tests/Unit/Controllers</directory>
            <directory suffix="Test.php">./tests/Unit/Events</directory>
            <directory suffix="Test.php">./tests/Unit/Helpers</directory>
            <directory suffix="Test.php">./tests/Unit/Models</directory>
        </testsuite>

        <testsuite name="Unit-Services">
            <directory suffix="Test.php">./tests/Unit/Services</directory>
            <directory suffix="Test.php">./tests/Unit/Traits</directory>
            <directory suffix="Test.php">./tests/Unit/Jobs</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <file>./app/Http/routes.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="base64:NTrXToqFZJlv48dgPc+kNpc3SBt333TfDnF1mDShsBg="/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="DB_CONNECTION" value="testing"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="APP_DEFAULT_LOCALE" value="en"/>
        <server name="LOG_CHANNEL" value="testing"/>
        <server name="DAV_ENABLED" value="true"/>
        <server name="REQUIRES_SUBSCRIPTION" value="false"/>
        <server name="MAIL_DRIVER" value="smtp"/>
        <server name="MAIL_HOST" value=""/>
        <server name="MAIL_PORT" value=""/>
        <server name="MAIL_ENCRYPTION" value=""/>
        <server name="APP_EMAIL_NEW_USERS_NOTIFICATION" value=""/>
    </php>
</phpunit>
