@import "~tachyons/css/tachyons.min";

// Variables
@import 'variables';

body {
    background-color: $body-bg;
    color: $body-color;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.breadcrumb {
  line-height: 23px;
  top: 9px;

  li+li:before {
    content: '>';
    padding-left: 5px;
    padding-right: 5px;
  }
}

.box {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
}
