
// Body
$body-bg: #F6F7F9;
$body-color:  #4d4d4f;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Background colors
.b-red { border-color: #b99a9a; }
.bg-orange { background-color: #ffeddc; }
.bg-gray { background-color: #fafbfc; }

// Border colors
.bb-gray { border-color: #dae1e7 }

// Background-color on line hover
.bb-gray-hover {
  &:hover {
    background-color: #fcfbeb;
  }
}

// Colors
.c-delete { color: #b8394c; }
