
// Body
$body-bg: #F0F1F5;
$body-color:  #4d4d4f;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Background colors
.b-red { border-color: #b99a9a; }
.bg-orange { background-color: #ffeddc; }
.bg-gray { background-color: #fafbfc; }

// Border colors
.bc-gray { border-color: #f0f0f0 }
.bc-gray-strong { border-color: #e1e1e1 }

// Background-color on line hover
.bc-gray-hover {
  &:hover {
    background-color: #fcfbeb;
  }
}

// Colors
.c-delete { color: #b8394c; }
.c-strong { color: #232E3B; }
.c-gray { color: #697386; }
