@import 'tailwindcss';
@import 'charts.css/dist/charts.css' layer(base);
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: Nunito, var(--font-sans);
}

.icon-breadcrumb {
  top: -1px;
}

.bulleted-list li:not(:last-child):after {
  padding-left: 4px;
  content: '•';
}

.uploadcare--button_primary {
  background: #3891ff;
}
