@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  color: #343a4b;
}

.icon-breadcrumb {
  top: -1px;
}

.bulleted-list li:not(:last-child):after {
  padding-left: 4px;
  content: '•';
}
