$htmldir: ltr !default;

@import "~hint.css/hint.min";
@import "~tachyons/css/tachyons.min";
@import "header";

$body-color: #4a4a4a;

body {
  background-color: #f8f2ef;
  color: $body-color;
  font-family: 'Nunito', sans-serif;
}

a {
  &.no-color { color: $body-color; }
}

.dropdown-caret {
  border: 4px solid transparent;
  border-top-color: currentcolor;
  content: "";
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}
