@import "_custom_bootstrap";
@import "~hint.css/hint.min";

@import "~tachyons/css/tachyons.min";

// Tags for a contact
@import "~jQuery-Tags-Input/dist/jquery.tagsinput.min";

// For the datatables
@import "_datatable.min";

// Icon fonts
@import "~font-awesome/scss/font-awesome";

$border-color: #dfdfdf;

@import "buttons";
@import "header";
@import "people";
@import "journal";
@import "marketing";
@import "settings";
@import "modal";

// Custom colors
// Extending Tachyions
.bg-gray-monica {
  background-color: #f2f4f8;
}

.b--gray-monica {
  border-color: #dde2e9;
}
.w-5 { width: 5%; }
.w-95 { width: 95%; }

.form-error-message {
  border-top: 1px solid #ed6246;
  background-color: #fbeae5;
  box-shadow: inset 0 3px 0 0 #ed6347, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
}

.form-information-message {
  border-top: 1px solid #46C1BF;
  background-color: #E0F5F5;
  box-shadow: inset 0 3px 0 0 #47c1bf, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);

  svg {
    width: 20px;
    fill: #00848e;
    color: #fff;
  }
}

// Utilities
.border-bottom {
  border-bottom: 1px solid $border-color;
}

.border-top {
  border-top: 1px solid $border-color;
}

.border-right {
  border-right: 1px solid $border-color;
}

.border-left {
  border-left: 1px solid $border-color;
}

.padding-left-none {
  padding-left: 0;
}

.boxed {
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05);
}

.box-padding {
  padding: 15px;
}

.badge {
  display: inline-block;
  padding: 4px 5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-danger {
  background-color: #d9534f;
}

.pretty-tag {
  background: #eee;
  border-radius: 3px;
  color: #555;
  display: inline-block;
  font-size: 11px;
  height: 22px;
  line-height: 22px;
  padding: 0 10px 0 19px;
  position: relative;
  margin: 0 10px 0 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;

  &::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 7px;
    position: absolute;
    width: 6px;
    top: 9px;
  }

  &:hover {
    background-color: #0366d6;

    a {
      color: #fff;
    }
  }

  a {
    text-decoration: none;
    color: #555;

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}

// Generic styles
body {
  color: #323b43;
}

a {
  color: #0366d6;
  padding: 1px;
  text-decoration: underline;

  &:hover {
    background-color: #0366d6;
    color: #fff;
    text-decoration: none;
  }

  &.action-link {
    color: #999;
    font-size: 11px;
    margin-right: 5px;
    text-decoration: underline;
  }
}

a[hreflang]:after {
  content: " (" attr(hreflang) ")"; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.horizontal {
    li {
      display: inline;
    }
  }
}

.hidden {
  display: none;
}

input:disabled {
  background-color: #999;
}

.pagination-box {
  margin-top: 30px;
  text-align: center;
}

.alert-success {
  margin: 20px 0;
}

.central-form {
  margin-top: 40px;

  h2 {
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-check-inline {
    margin-right: 10px;
  }

  .form-group > label:not(:first-child) {
    margin-top: 10px;
  }

  input[type="radio"] {
    margin-right: 5px;
  }

  .dates {
    .form-inline {
      display: inline;

      input[type="number"] {
        margin: 0 10px;
        width: 52px;
      }

      input[type="date"] {
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }

  .form-group:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  .nav {
    margin-top: 40px;

    .nav-link {
      text-decoration: none;
    }
  }

  .tab-content {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
  }
}

.avatar-photo {
  img {
    border-radius: 3px;
  }
}

.breadcrumb {
  background-color: #f9f9fb;

  ul {
    font-size: 12px;
    padding: 30px 0 24px;

    li:not(:last-child):after {
      content: '>';
      margin-left: 5px;
      margin-right: 1px;
    }
  }
}

.btn {
  color: #24292e;
  background-color: #eff3f6;
  background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;

  &:hover, &:visited {
    text-decoration: none;
    background-color: #e6ebf1;
    background-image: -webkit-linear-gradient(270deg, #f0f3f6 0%, #e6ebf1 90%);
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 -0.5em;
    background-repeat: repeat-x;
    border-color: rgba(27,31,35,0.35);
  }

  &:active {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15)
  }

  &:disabled {
    background-image: linear-gradient(-180deg, #63b175 0%, #61986e 90%);
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.btn-primary {
  color: #fff;
  background-color: #28a745;
  background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);

  &:hover {
    background-color: #269f42;
    background-image: -webkit-linear-gradient(270deg, #2fcb53 0%, #269f42 90%);
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.5);
  }
}

.table {
  border-collapse: collapse;
  display: table;
  width: 100%;

  .table-row {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: table-row;

    &:first-child {
      .table-cell:first-child {
        border-top-left-radius: 3px;
      }

      .table-cell:last-child {
        border-top-right-radius: 3px;
      }
    }

    &:last-child {
      border-bottom: 1px solid #ddd;
    }

    &:hover {
      background-color: #f6f8fa;
    }
  }

  .table-cell {
    display: table-cell;
    padding: 8px 10px;
  }
}

footer {
  .badge-success {
    font-size: 12px;
    font-weight: 400;
  }

  .show-version {
    text-align: left;

    h2 {
      font-size: 16px;
    }

    .note {
      margin-bottom: 20px;

      ul {
        list-style-type: disc;
      }

      li {
        display: block;
        font-size: 15px;
        text-align: left;
      }
    }
  }
}

@media (max-width: 480px) {
  .sidebar-box {
    border: 1px solid $border-color;
    border-radius: 3px;

    .sidebar-heading {
      background-color: #fafafa;
      margin-top: 0;
      padding: 5px;
    }

    .sidebar-blank {
      background-color: #fff;
      border: 0;
    }

    li {
      padding: 5px;
    }
  }
}
