.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  appearance: none;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc;
    color: #333;
    text-decoration: none;
  }
}

.btn-primary {
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);

  &:hover {
    background-color: #569e3d;
    background-image: linear-gradient(#79d858, #569e3d);
    border-color: #4a993e;
    color: #fff;
  }
}

.btn-danger {
  color: #900;

  &:hover {
    background-color: #b33630;
    background-image: linear-gradient(#dc5f59, #b33630);
    border-color: #cd504a;
    color: #fff;
  }
}

.btn-add {
  position: relative;
  top: 3px;
  border: 1px solid #576675;
  border-radius: 50%;
  width: 15px;
  margin-right: 3px;
}
