.btn-danger {
  color: #900;

  &:hover {
    background-color: #b33630;
    background-image: linear-gradient(#dc5f59, #b33630);
    border-color: #cd504a;
    color: #fff;
  }
}

.btn-add {
  position: relative;
  top: 3px;
  border: 1px solid #576675;
  border-radius: 50%;
  width: 15px;
  margin-right: 3px;
}
