.btn {
  color: #24292e;
  background-color: #eff3f6;
  background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background-color: #e6ebf1;
    background-image: -webkit-linear-gradient(270deg, #f0f3f6 0%, #e6ebf1 90%);
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 -0.5em;
    background-repeat: repeat-x;
    border-color: rgba(27,31,35,0.35);
    color: #014c8c;
  }

  &:active {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15)
  }

  &:disabled {
    background-image: linear-gradient(-180deg, #63b175 0%, #61986e 90%);
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.btn-primary {
  color: #fff;
  background-color: #28a745;
  background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);

  &:hover {
    background-color: #269f42;
    background-image: -webkit-linear-gradient(270deg, #2fcb53 0%, #269f42 90%);
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.5);
  }
}

.btn-danger {
  color: #900;

  &:hover {
    background-color: #b33630;
    background-image: linear-gradient(#dc5f59, #b33630);
    border-color: #cd504a;
    color: #fff;
  }
}

.btn-add {
  position: relative;
  top: 3px;
  border: 1px solid #576675;
  border-radius: 50%;
  width: 15px;
  margin-right: 3px;
}
