.dashboard {
  background-color: #fff;
  padding-top: 50px;

  .tab-content {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-radius: 0 0 3px 3px;
    padding: 15px;
  }

  .nav-tabs {
    a {
      text-decoration: none;
    }
  }

  .tab-content li {
    padding: 5px 0;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  .reminders {
    .reminder-in-days {
      font-style: italic;
      font-size: 12px;
    }
  }

  .dashboard-box {
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 15px;

    h2 {
      border-bottom: 1px solid #eee;
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 5px;
    }

    &.dashboard-stat {
      margin-bottom: 40px;
      text-align: center;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 25px;
        }
      }

      .stat-number {
        display: block;
        font-size: 25px;
      }

      .stat-description {
        font-size: 13px;
      }
    }
  }

  .section-icon {
    width: 19px;
    position: relative;
    top: -3px;
  }

  h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
    margin-bottom: 10px;
  }

  .dashboard-section {
    position: relative;

    &:not(:first-child) {
      margin-top: 20px;
    }

    .dashboard-item {
      display: table;
      table-layout: fixed;
      width: 100%;
      padding: 5px 0;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }
    }

    .truncate {
      display: table-cell;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .sidebar {
    max-width: 25%;
  }

  .sidebar-cta {
    a {
      width: 100%;
    }
  }

  .sidebar-box {
    margin-top: 20px;

    h3 {
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    a {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      display: block;
      text-overflow: ellipsis;      
    }
  }

  .last-seen {
    .avatar {
      background-color: #93521e;
      border-radius: 3px;
      color: #fff;
      display: inline-block;
      height: 30px;
      margin-bottom: 5px;
      margin-right: 5px;
      padding-left: 5px;
      padding-top: 4px;
      position: relative;
      top: -3px;
      width: 30px;

      &.one-letter {
        padding-left: 0;
        text-align: center;
      }

      a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }

  .event-list-item {
    color: #717171;
    margin-bottom: 5px;
    padding: 10px;
    position: relative;
    top: 2px;

    .event-icon {
      display: inline;
      margin-right: 10px;
    }

    .event-date {
      color: #b1b1b1;
      display: inline;
      font-size: 11px;
      margin-right: 10px;
    }

    .event-description {
      display: inline;
      margin-right: 10px;
    }
  }
}
