/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('../fonts/nunito-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v9-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-600 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
       url('../fonts/nunito-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v9-latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
}