.journal {
  .main-content {
    margin-top: 20px;
  }

  

  .entry-row {
    margin-bottom: 30px;

    .entry-information {
      background-color: #fafafa;
      border: 1px solid #eee;
      border-radius: 3px;
      font-size: 12px;
      padding: 10px;
    }

    .entry-content {
      white-space: pre-wrap;
    }
  }

  .modal {
    textarea {
      height: 300px;
    }
  }
}
