.contact-header-avatar {
  top: -15px;
  width: 128px;
}

.contact-header-cover {
  background-size: cover;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  height: 130px;
}

.contact-header-information {
  padding-left: 150px;
}

@media (max-width: 480px) {
  .contact-header-information {
    padding-left: 0;
  }
}
