name: Docker

on:
  push:
    branches:
      - master
      - dockerfix

jobs:
  docker-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    name: Docker build master

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.CR_USER }}
          password: ${{ secrets.CR_PAT }}

      - name: Docker build
        id: docker_build
        uses: docker/build-push-action@v2
        with:
#          push: ${{ github.ref == 'refs/heads/master' }}
          push: true
          tags: ghcr.io/monicahq/monica:master
          file: scripts/docker/Dockerfile
          context: .
          labels: org.opencontainers.image.version="master"

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
